<!DOCTYPE html>
<html>
<%- include('partials/head'); -%>
  <body>
  <%- include('partials/nav'); -%>
  <div class="container">
    <header>
        <div class="hero">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
        </div>

    </header>
    <section class="columns-3">
      <div>
        <h1>Addition
          <i class="material-icons">add</i>
        </h1>
        <a href="/addition">Click Here</a>
      </div>
      <div>
        <h1>Subtraction
          <i class="material-icons">remove</i>
        </h1>
          <a href="/subtraction">Click Here</a>
      </div>
      <div>
        <h1>Multipulcation
          <i class="material-icons">clear</i>
        </h1>
          <a href="/multiplication">Click Here</a>
      </div>


    </section>

  </div>

  <%- include('partials/scripts'); -%>

  </body>
</html>
