<!DOCTYPE html>
<html>
<%- include('partials/head'); -%>
<body>
<%- include('partials/nav'); -%>
<div class="container">
    <section class="level">
        <button id="js-level" class="btn btn-o-blue btn-fill">Level <span id="js-level-number">1</span>
            <span class="icon material-icons">add_circle_outline</span>
        </button>
    </section>
    <section class="worksheet">
        <% for  (let i = 0; i < 40; i++) {%>
            <div class="equation stacked">
                <i class="js-check material-icons animated"></i>
                <span class="number js-numerator"><%=  Math.floor(Math.random() * 10) + 1 %></span>
                <span class="operator">x</span>
                <span class="number js-denominator"><%=  Math.floor(Math.random() * 10) + 1 %></span>
                <label>
                    <input class="input answer" type="text" onkeypress="startClock()">
                </label>
            </div>
        <% }%>
    </section>
    <section class="results">
        <button id="js-checkAnswers" class="btn btn-o-blue btn-fill">Check Answers<span class="icon material-icons">check_circle_outline</span></button>
        <button id="js-resetAnswers" class="btn btn-o-red btn-fill">Reset<span class="icon material-icons">power_settings_new</span></button>
    </section>
    <section>
        <div id="results" class="animated fadeInUp">
            <h2>Results:</h2>
            <p><span id="resultMessage"></span> Your total score is <span id="numPercentage"></span></p>
            <p>
                <span class="bold">Total Time: </span><span id="minutes">00</span>:<span id="seconds">00</span>:<span id="tens">00</span>
            </p>
            <div class="balloons">
                <img id="balloon1" class="balloon" src="../images/balloon1.svg" alt="balloons">
                <img id="balloon2" class="balloon" src="../images/balloon2.svg" alt="balloons">
                <img id="balloon3" class="balloon" src="../images/balloon3.svg" alt="balloons">
                <img id="balloon4" class="balloon" src="../images/balloon4.svg" alt="balloons">
                <img id="balloon5" class="balloon" src="../images/balloon5.svg" alt="balloons">
                <img id="balloon6" class="balloon" src="../images/balloon6.svg" alt="balloons">
            </div>
            <div class="firework">
                <div class="before"></div>
                <div class="after"></div>
            </div>
        </div>
    </section>

</div>

<%- include('partials/scripts'); -%>
</body>
</html>
